* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: #ededed;
    font-weight: 600;
}

.header a.logo {
    position: relative;
    font-size: 1.8rem;
}

.header a.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    margin-left: 30px;
    font-size: 1.15rem;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.navbar a.active {
    color: #00abf0;   
}

.navbar a.active:hover {
    color: #ededed;
}

.home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 1.4;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    color: #00abf0;
    line-height: 1.4;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 1rem;
    margin-bottom: 30px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #081b29;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:last-child {
    background: transparent;
    color: #00abf0;
}

.btn-box a:last-child:hover {
    color: #081b29;
}

.btn-box a:last-child:hover::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.btn-box a:hover {
    color: #00abf0;
}

.home-scl {
    position: relative;
    height: 45px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    bottom: 60px;
}

.home-scl::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 1;
}

.home-scl a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45px;
    margin-right: 20px;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
}

.home-scl a:hover {
    color: #081b29;
}

.home-scl a::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    transform: scale(0);
    border-radius: 50%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-scl a:hover::before  {
    transform: scale(1);
}

.image {
    margin-top: 30px;
    height: 400px;
    width: 400px;
    border: 2px solid #081b29;
    border-radius: 100%;
    outline: 2px solid #00abf0;
    overflow: hidden;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: none;
    object-position: 50% 25%;
    filter: brightness(0.6);
    transition: .5s;
}


.image img:hover {
    filter: brightness(.8);
    transform: scale(1.02);
}

.anim {position: relative;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.anim::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 1;
}


/* ANIMATION KEYFRAMES */

@keyframes showRight{
    100% {
        width: 0;
    }
}